<div class="projects">
<% if @project.errors.any? %>
	<% @project.errors.full_messages.each do |error| %>
		<div class="alert"><%= error %></div>
	<% end %>
<% end %>
<h1 class="title">Create New Project</h1>

<%= render 'form', project: @project%>
</div>
